<!DOCTYPE html>
<html>
  <head>
    <title>Status</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.css" integrity="sha256-ujE/ZUB6CMZmyJSgQjXGCF4sRRneOimQplBVLu8OU5w=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://unpkg.com/normalize.css">
  </head>
  <body class="main">
  <h1 class="title is-2">Services</h1>
  {{if .Pingers}}
  <h1 class="title is-5">Connection Time</h1>
  {{template "ping" .Pingers }}
  {{end}}
  {{if .Requesters}}
  <h1 class="title is-5">Health Check</h1>
  {{template "status" .Requesters }}
  {{end}}
  {{if .Dockers}}
  <h1 class="title is-5">Containers</h1>
  {{template "docker" .Dockers }}
  {{end}}
  <br>
  <h1 class="title is-2">Recent Errors</h1>
  {{template "errors" .}}
</body>
<footer class="footer-custom">
  <p> <span id="bold">Last updated: </span>{{.Stamp}}</p>
  <p> <span id="bold">Updating every {{.Limit}} minutes</span></p>
</footer>
</html>