.main {
  max-width: 55rem;
  padding: 2rem;
  margin: auto;
}

#bold {
  font-weight: bold;
}

.table {
  min-width: 800px;
}

.footer-custom {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;            /* Footer height */
}